<%- include('partials/header') -%>
<div class="container mt-5">

    <div class="row d-flex justify-content-center">
        <div class="col-lg-6">
            <h3>Add Task</h3>
            <hr>


            <form action="" method="POST">
                <div class="form-group">
                    <label>Title:</label>
                    <input type="text" name="Title" class="form-control">

                </div>


                <div class="form-group">
                    <label>Description:</label>
                    <textarea class="form-control" name="Description" id="exampleFormControlTextarea1"
                        rows="3"></textarea>

                </div>


                <div class="form-group">
                    <label for="exampleFormControlSelect1">Priority</label>
                    <select name="Priority" class="form-control" id="exampleFormControlSelect1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Status</label>
                    <select name="Status" class="form-control" id="exampleFormControlSelect1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </div>

                <input type="submit" value="Save" class="btn btn-primary">
            </form>








        </div>
    </div>

</div>
<%- include('partials/footer'); -%>